Iniciante/Envio de E-mail/Envio de Email ao Cadastrar.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8b8f54fc-7cb7-46f3-a34a-50621247ffd7",
      "name": "Webhook",
      "webhookId": "af560eae-46da-4936-9a7a-cd7297f43e65"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps",
          "mode": "list",
          "cachedResultName": "Usuarios Portfólio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Nome": "={{ $json.nome }}",
            "Telefone": "={{ $json.telefone }}",
            "Empresa": "={{ $json.empresa }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        176,
        0
      ],
      "id": "1802dad0-4252-4a1c-ab9f-4e829e8b6a66",
      "name": "Verifica Cadastro",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lduLaEBxvEbkbG8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Cadastro Realizado",
        "emailType": "text",
        "message": "Cadastro Realizado com Sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        0
      ],
      "id": "c52f54cf-965b-494f-b1ef-3be9562b66e8",
      "name": "Envia o E-mail",
      "webhookId": "f62dd987-3950-4073-b42b-b7cf7d78ba76",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "8kPF0eP2EP7RAKLX",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps",
          "mode": "list",
          "cachedResultName": "Usuarios Portfólio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Verifica Cadastro').item.json.Email }}",
            "Enviado": "Sucesso"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        -112
      ],
      "id": "e6bd46c3-9124-44fe-a0b8-74f53f3d9a9f",
      "name": "Confirma o Envio",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lduLaEBxvEbkbG8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps",
          "mode": "list",
          "cachedResultName": "Usuarios Portfólio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TdEa2cjFztJvRiyKGoSlX4zIvnqeHLBaWiZFkvGMTps/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Verifica Cadastro').item.json.Email }}",
            "Enviado": "Erro ao Enviar Email!"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        96
      ],
      "id": "9fb83e70-f27a-42e2-aeea-abcdc52474a0",
      "name": "Registra o Erro ao Enviar E-mail",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lduLaEBxvEbkbG8c",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verifica Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Cadastro": {
      "main": [
        [
          {
            "node": "Envia o E-mail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Envia o E-mail": {
      "main": [
        [
          {
            "node": "Confirma o Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registra o Erro ao Enviar E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "595f721a-8650-464e-9af3-11d366fa1c7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19f0052d12d90c748119265be57d786d7f11ee37d4c5efd3b9bda01d5c95e03d"
  },
  "id": "Zvi466ciHNW2QdPR",
  "tags": []
}